*.prefs
*.classpath
*.project
*.lock
*.log
*.zip
*.version
*.index
*.tree
*.resources
*.xmi
*.json
*.properties
*.setup
*.xml
Aliens2/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Aliens2/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.mark
Aliens2/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Aliens2/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
*.ini
*.MF
*.gitignore
*.class
*.class
*.class
com/infowest/java/WISPT$1.class
com/infowest/java/WISPT$1.class
*.class
