<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JavaFinal - UBNTTroubleshooter/com/infowest/java/UBNTTroubleshooter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.infowest.java.UBNTTroubleshooter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JavaFinal - UBNTTroubleshooter"/>
</launchConfiguration>
